body{
    text-align: center;
    background-color: rgb(229, 229, 245);
}

h3{
    display: inline;
}

.grid{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap : 0px 0px;
    margin: 80px;
}

.grid-item button[type="button"]{
    height: 100%;
    width: 100%;
    font-size: 40px;
    padding: 10px;
    background-color: black;
    color: white;
}

.grid-item button[type="button"]:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.row{
    padding : 0px 300px;
    display: flex;
    flex-direction: row;
}
.col-50{
    flex:50%;
}